{% extends "base.html" %}
{% load static %}
{% block content %}
<meta charset="utf-8">
<title>Billzify - AI-Powered Hotel Booking Engine | Increase Direct Bookings</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Billzify's AI-powered hotel booking engine helps hotels maximize direct bookings, reduce OTA commissions, and streamline online reservations. A fast, mobile-friendly, and commission-free booking system for hotels, resorts, and vacation rentals.">
<meta name="keywords" content="hotel booking engine, online hotel reservation system, direct hotel bookings, commission-free booking engine, hotel website booking system, Billzify booking engine, free booking engine, cloud-based booking software, hotel management software, OTA booking integration">
<meta name="author" content="Billzify">





    <!-- Header Start -->
    <div class="container-fluid bg-white  mt-0 mb-5" >
        <div class="container">
            <div class="row g-1  align-items-center" style="margin-top:95px">
                <div class="col-lg-7 py-0 pb-0 pt-lg-0 ">
                    <!-- <h3 class=" text-primary pe-3 me-3 mb-0"
                    style="font-family: Brush Script" 
                    >Billzify</h3> -->
                    {% comment %} <img class="img-fluid" src="{% static 'img/3.png'%}" style="height:90px" alt=""> {% endcomment %}
                    <h1 class="mt-0 mb-3 " style="font-family:'Poppins', sans-serif;color:#1f2937;">Billzify AI-Powered Hotel Booking Engine – Increase Direct Bookings & Maximize Revenue</h1>
                    <p class=" pe-3 me-3  mb-0" style="font-weight: 500;color: #4b5563">Boost your hotel's direct reservations with Billzify’s commission-free booking engine. Seamlessly integrate with your website, sync with OTAs, and offer a mobile-friendly, secure, and automated booking experience. Optimize conversions, reduce OTA dependency, and maximize profits effortlessly!

                    </p>
                    
                     <a href="https://wa.me/message/BWCMUEL3U54RF1"  class="btn btn-primary py-3 mt-5 px-4 ">Get A Free Demo</a>
                      
                </div>
                <div class="col-lg-5">
                    {% comment %} <img class="img-fluid mt-2" src="{% static 'img/5312964.jpg'%}" alt=""> {% endcomment %}
                 <center> <img class="img-fluid " style="border-radius:12px;rgba(0, 0, 0, 0.04) 0px 3px 5px;height:500px" 
                     src="{% static 'img/brsvg.svg'%}" alt=""></center>
                     {% comment %} src="{% static 'img/chanel.png'%}" alt=""></center> {% endcomment %}
                </div>
            </div>
        </div>

    </div></div></div>


<!-- About Start -->
<div class="container-xxl py-6 " id="about" style="background: #EFEFF6">
    <div class="container">
        <div class="row g-6">
            <div class="col-lg-12 " >
                <div class="d-flex align-items-center mb-5">
                    
                    <h3 class="lh-base mb-0">Billzify – Simplify Online Hotel Reservations & Maximize Profits</h3>
                </div>
                <p>Secure, user-friendly, and designed to convert website visitors into guests.<br>

                    Billzify’s hotel booking engine helps hotels, resorts, and B&Bs get more direct reservations without relying on OTAs. Easily integrate it with your website and social media to let guests book rooms instantly.

                    With a fast, mobile-friendly design, Billzify ensures a smooth booking experience while keeping you in full control of pricing, availability, and discounts.</p>
               
                <a class="btn btn-primary py-3 px-5 mt-3" href="https://wa.me/message/BWCMUEL3U54RF1">Get A Free Demo</a>
            </div>
            
        </div>
    </div>
</div>
<!-- About End -->



<!-- About Start -->
<div class="container-xxl py-5 " >
    <div class="container">
        <h2>Why Choose Billzify’s Booking Engine?</h2>
        <div class="row g-6 mt-5">
            
            
            <div class="col-lg-6 " >
               
                <div class=" align-items-center mb-3 mt-3">
                    <h5 class="   mb-0">✔ Zero Commission on Direct Bookings</h5>
                </div>
                <p class="mb-4"> Earn more without paying OTA fees.</p>
                
                
                
                <div class=" align-items-center mb-3 mt-3">
                    <h5 class="   mb-0">✔ Works on All Devices</h5>
                </div>
                <p class="mb-4">Easy bookings from mobile, tablet, and desktop.</p>
                

                <div class=" align-items-center mb-3 mt-3">
                    <h5 class="   mb-0">✔  Instant Availability & Rate Updates</h5>
                </div>
                <p class="mb-4">Syncs with your PMS and <a href="{% url 'channelmanager' %}"> channel manager </a>.</p>

            </div>
                


        <div class="col-lg-6 " >
               
            <div class=" align-items-center mb-3 mt-3">
                <h5 class="   mb-0">✔ Easy Setup & Customization 
                </h5>
            </div>
            <p class="mb-4">Match it with your hotel’s brand.</p>
            

            <div class=" align-items-center mb-3 mt-3">
                <h5 class="   mb-0">
                    ✔ Automated Booking Confirmations</h5>
            </div>
            <p class="mb-4">Keep guests informed.</p>


            <div class=" align-items-center mb-3 mt-3">
                <h5 class="   mb-0">✔ Promotions & Discount Codes</h5>
            </div>
            <p class="mb-4">Run special offers to increase bookings.</p>
    </div>
    </div>
</div></div>
<!-- About End -->











<!-- About Start -->
<div class="container-xxl py-5 "  style="background: #EFEFF6">
    <div class="container">
        <div class="row g-6">
            <div class="col-lg-12 " >
                <div class="align-items-center mb-5">
                    
                    <h3 class="lh-base mb-0">Key Features of Billzify’s Booking System</h3>
                </div>
                <h6><i class="fa fa-check fa-2x text-primary  me-3"></i> <b> Seamless Website Integration</b>- Add Billzify’s booking engine to your hotel website for a simple and quick reservation process.</h6>
                

                <h6><i class="fa fa-check fa-2x text-primary  me-3"></i> <b> No OTA Commissions</b>-  Unlike OTAs, you keep 100% of your earnings from direct bookings.</h6>
                

                <h6><i class="fa fa-check fa-2x text-primary  me-3"></i> <b> Real-Time Updates </b>- Syncs with Billzify PMS and <a href="{% url 'channelmanager' %}"> Channel Manager </a>, so your rates and availability are always accurate.</h6>
                
                <h6><i class="fa fa-check fa-2x text-primary  me-3"></i> <b>Mobile-Friendly & Fast </b>- Over 70% of travelers book on mobile, so we ensure a smooth experience on any device.</h6>

                <h6><i class="fa fa-check fa-2x text-primary  me-3"></i> <b> Promotions & Discounts </b>-  Create special offers, last-minute deals, and corporate discounts to attract more guests.</h6>

                <h6><i class="fa fa-check fa-2x text-primary  me-3"></i> <b>Automated Confirmations & Notifications </b>- Guests get instant booking confirmations and reminders via email and SMS.</h6>

                <h6><i class="fa fa-check fa-2x text-primary  me-3"></i> <b> Reports & Insights</b>- Track bookings, revenue, and customer trends to make better business decisions.</h6>

                
            </div>
            
        </div>
    </div>
</div>
<!-- About End -->

<!-- About Start -->
<div class="container-xxl py-5 " >
    <div class="container">
        
        <div class="row g-6 ">
            
            
            <div class="col-lg-6 " >
                <h2>Who Can Use Billzify?</h2>
               
                <div class=" align-items-center mb-3 mt-3">
                    <h5 class="   mb-0">Hotels & Resorts </h5>
                </div>
                <p class="mb-4"> Manage large or boutique properties effortlessly.</p>
                
                
                
                <div class=" align-items-center mb-3 mt-3">
                    <h5 class="   mb-0">Vacation Rentals & Homestays</h5>
                </div>
                <p class="mb-4"> Automate reservations, payments, and guest communications.</p>
                

                <div class=" align-items-center mb-3 mt-3">
                    <h5 class="   mb-0">Serviced Apartments</h5>
                </div>
                <p class="mb-4"> Maintain occupancy, housekeeping, and long-term rentals with ease.</p>

                <div class=" align-items-center mb-3 mt-3">
                    <h5 class="   mb-0">Hostels & Guest Houses</h5>
                </div>
                <p class="mb-4">  Centralize management for budget accommodations.</p>

                <div class=" align-items-center mb-3 mt-3">
                    <h5 class="   mb-0">Multi-Property Chains</h5>
                </div>
                <p class="mb-4">  Handle multiple locations with a unified system.</p>


                

            </div>
                


        <div class="col-lg-6 " >
            <h2>Why Choose Billzify?</h2>
            <div class=" align-items-center mb-3 mt-3">
                <h5 class="   mb-0">24/7 Support</h5>
            </div>
            <p class="mb-4">Our dedicated customer support team is always available.</p>
            

            <div class=" align-items-center mb-3 mt-3">
                <h5 class="   mb-0">Easy-to-Use Interface</h5>
            </div>
            <p class="mb-4">No technical skills required to manage operations.</p>


            <div class=" align-items-center mb-3 mt-3">
                <h5 class="   mb-0">Fast Onboarding & Training</h5>
            </div>
            <p class="mb-4">Get started quickly with step-by-step guidance.</p>


            <div class=" align-items-center mb-3 mt-3">
                <h5 class="   mb-0"> Scalable for All Property Sizes</h5>
            </div>
            <p class="mb-4">Whether you run 5 rooms or 500, Billzify grows with your business.</p>


            <div class=" align-items-center mb-3 mt-3">
                <h5 class="   mb-0">Affordable Pricing</h5>
            </div>
            <p class="mb-4">High-end features at budget-friendly pricing for all property types.</p>
    </div>
    </div>
</div>
<!-- About End -->

    
</div></div>

   



{%endblock%}